.success {
  display: flex;
  background: rgba(5, 194, 0, 0.2);
  border-radius: 10px;
  padding: 10px 15px;
  width: 100%;
  align-items: center;
  justify-content: center;
  img {
    width: 20px;
    height: 20px;
    object-fit: contain;
  }
  p {
    color: white;
    font-family: $main-font;
    margin-left: 10px;
    font-weight: 500;
  }
}
