.start-step {
  width: 820px;
  height: auto;
  position: relative;
  padding: 80px 30px 30px 50px;
  #start-step-img {
    width: 100%;
    height: 100%;
  }
  p {
    color: #05c200;
    position: relative;
    z-index: 10;
    font-family: $code;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 20px;

    &:last-child {
      margin-bottom: 0px;
    }
  }
}
