.step-asset {
  width: 250px;
  height: 250px;
  margin-left: 25px;
  &-placeholder {
    width: 100%;
    height: 100%;
    border: 1px dashed #ffffff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px;

    #placeholder-img {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  #asset-img {
    overflow: hidden;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 10;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-varified {
    border-radius: 20px;
    background: linear-gradient(
      209.49deg,
      rgba(255, 255, 255, 0) 0.88%,
      #ffffff 12.86%,
      #05c200 39.67%,
      #24acd3 60.6%,
      #7e3bd0 79.48%,
      #f0553b 98.88%
    );
  }
}
