.certificate {
  background-image: url("../../assets/images/asset/frame.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 1024px;
  height: 564px;
  overflow: hidden;
  padding: 0px 0px 0px 40px;
  position: relative;

  &-wrapper {
    position: relative;
  }
  &-loading {
    background: unset;
    padding: 0px;
  }

  &-flex {
    padding-right: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    position: relative;
  }
  &-x {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 100;
  }
  &-not-verified {
    filter: grayscale(0.8);
  }
  &-bg {
    position: absolute;
    right: 22px;
    top: 22px;
    width: 36%;
    height: auto;
    opacity: 0.1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    transform: rotateY(180deg);
  }
  &-loader {
    background: gray;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
  }
  .verified-asset {
    width: 500px;
    height: 500px;
    &-frame {
      background-image: url("../../assets/images/asset/avatar-frame-2.png");
      background-size: cover;
      width: 147%;
      height: 147%;
      left: 50%;
      top: 50%;
      background-position: center;
      transform: translate(-50%, -50%);
    }
    .lottie {
      width: 140px;
      height: 140px;
      top: -10px;
      right: -10px;
    }
    #asset-img {
      border-radius: 20px;
      position: relative;
      transform: translate(1px);
    }
  }
  &-details {
    padding-left: 30px;
    flex: 1;
    .twitter-account {
      margin-bottom: 40px;
    }
    &-title {
      font-family: $kumar;
      line-height: 55px;
      font-size: 39px;
      text-align: center;
    }
    &-bottom {
      margin-top: 50px;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      section {
        border-bottom: 1px solid white;
        padding-bottom: 8px;
        height: 60px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h5 {
          color: rgba(255, 255, 255, 0.5);
          font-size: 12px;
        }
        span {
          display: flex;
          justify-content: space-between;
        }
        img {
          width: 25px;
          height: auto;
          object-fit: cover;
        }
      }
    }
  }
}

@media only screen and (max-width: 950px) {
  .certificate {
    overflow: hidden;
    background-image: url("../../assets/images/mobile/certificate-frame.png");

    background-position: center;
    width: 378px;
    height: 683px;
    padding: 0px;
    padding-top: 36px;
    &-flex {
      flex-direction: column;
      padding-right: 0px;
    }

    &-bg {
      right: auto;
      left: 50%;
      width: 60%;
      top: 40%;
      transform: translate(-50%) rotateY(180deg);
    }
    .verified-asset {
      width: 300px;
      height: 300px;

      #asset-img {
        border-radius: 10px;
        transform: none;
        transform: translate(1px);
        position: relative;
      }
      .lottie {
        width: 100px;
        height: 100px;
      }
    }
    &-details {
      padding: 10px 45px 30px 45px;
      .twitter-account {
        margin-bottom: 20px;
        img {
          margin-bottom: 10px;
        }
      }
      &-bottom {
        margin-top: 30px;
        section {
          height: 55px;
        }
      }
      &-title {
        font-size: 28px;
        line-height: 36px;
      }
    }
  }
}
