.send-tweet {
  padding: 0px;
  &-not-varified {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
  }
  &-account {
    flex: 1;
    background: rgba(196, 196, 196, 0.1);
    border-radius: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    img {
      width: 30px;
      height: 30px;
      object-fit: contain;
      margin-bottom: 5px;
    }
    h4 {
      font-size: 1.625rem;
      color: white;
      font-family: $main-font;
    }
  }
  &-pending {
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    width: 100%;
    justify-content: center;
    p {
      color: white;
      padding: 15px;
      color: rgba(255, 255, 255, 0.7);
      font-family: $main-font;
      font-size: 1rem;
      font-weight: 500;
    }
  }
  &-varified {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: $main-font;
    color: white;
    position: absolute;
    top: 0px;
    &-content {
      padding: 20px 30px 30px 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      background: rgba(0, 0, 0, 0.6);
      border-radius: 10px;
      width: 100%;

      img {
        width: 45px;
        height: 45px;
        object-fit: contain;
        margin-bottom: 20px;
      }
      h5 {
        font-size: 1rem;
        margin-bottom: 25px;
        font-weight: 500;
      }
      h3 {
        font-size: 2.25rem;
        font-weight: 500;
      }
    }
    p {
      margin-top: auto;
      text-align: center;
      opacity: 0.5;
      font-size: 1rem;
      strong {
        font-weight: bold;
      }
    }
  }
}
