.verified-asset {
  width: 276px;
  height: 276px;
  position: relative;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  &-frame {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-image: url("../../assets/images/verify/asset-frame.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .lottie {
    position: absolute;
    z-index: 200;
    top: -10%;
    right: -10%;
    width: 40%;
    height: 40%;
    object-fit: contain;
  }
  #asset-img {
    border-radius: 8px;
    overflow: hidden;
    width: 75%;
    height: 75%;
    position: relative;
    z-index: 10;
    overflow: hidden;
    img {
      border-radius: 0px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
