@import "./Actions/style.scss";
@import "./VerifyAgain/style.scss";

.asset {
  background-image: url("../../assets/images/asset/bg.png");
  background-size: cover;
  min-height: 100vh;
  position: relative;
  padding-top: 70px;
  padding-bottom: 100px;
  &-loader {
    width: 100%;
    height: 100%;
    z-index: 99;
    top: 0px;
    left: 0px;
    background: rgba(255, 255, 255, 0.15);
    position: absolute;
    .spinner {
      transform: translate(-50%, -50%) scale(0.7);
    }
  }
  #empty-certificate {
    width: calc(100% - 70px);
    min-width: 340px;
    height: auto;
    position: relative;
    transform: translate(-3vw);
  }

  .verify-btn {
    margin-top: 100px;
  }

  &-overlay {
    background: linear-gradient(
      242.36deg,
      rgba(0, 0, 0, 0.95) 12.15%,
      rgba(0, 0, 0, 0.2) 88.21%
    );
    opacity: 0.8;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
  }
  &-flex {
    position: relative;
    transition: 0.2s all;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    .button {
      &:after {
        width: 70%;
        bottom: -10px;
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .asset {
    #empty-certificate {
      transform: translate(-30px);
      width: 1000px;
    }
  }
}

@media only screen and (max-width: 900px) {
  .asset {
    padding-top: 30px;

    &-proof {
      width: calc(100% - 40px);
      margin-top: 100px;

      &-actions {
        padding: 70px 30px 50px 30px;
        p {
          font-size: 14px;
        }
      }
    }
    .certificate {
      zoom: 1;
    }
  }
}

@media only screen and (max-width: 440px) {
  .asset {
    .certificate {
      zoom: 0.85;
    }
  }
}

@media only screen and (max-width: 360px) {
  .asset {
    .certificate {
      zoom: 0.7;
    }
  }
}
