.asset-proof {
  width: 100%;
  height: 500px;
  position: relative;
  margin-top: 120px;
  &-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    opacity: 0.5;
  }
  &-flex {
    position: relative;
    width: 100%;
    height: 100%;
  }
  &-frame {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    left: 0px;
    top: 0px;
  }
  &-actions {
    position: relative;
    z-index: 10;
    padding: 100px 60px 60px 60px;
    section {
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0px;
      }
    }
    p {
      font-size: 16px;
      font-weight: 500;
      line-height: 20.11px;
      font-family: $code;
      span {
        color: #05c200;
        margin-left: 5px;
      }
    }
  }
}
